<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document | <% title %></title>
</head>
<body>
    <nav>
        <div class="site-title">
<a href="/"><h1>My Blog</h1></a>
<p>A blog exploring minimalism in life</p>
        </div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About me</a></li>
            <li><a href="/blogs/create">New Blog</a></li>
        </ul>
    </nav>
    <div class="about-content">
        <h2>About Me</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod.</p>
        <p>Lorem ipsum</p>
    </div>
</body>
</html>